:root, body {

	background: url("Tiles/tile_0057.png");
	margin: 0 !important;
	padding: 0 !important;
	overflow-y: hidden;

}

canvas{
	
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
	  ),
	  url("Tiles/tile_0057.png");
	background-size: 25px;
	margin-left: calc(50vw - 500px);
	padding: 0 !important;
	image-rendering: pixelated;

	width: calc(1000px * var(--SCALE-FACTOR));
	height: calc(100vh * var(--SCALE-FACTOR));

}